.keyboard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 8px 0 8px;
}

.inputBox {
  width: 355px;
  height: 25px;
  padding: 20px;
  padding-left: 15px;
  font-size: 20px;
  font-family: "Fira Code", monospace;
  border-radius: 5px;
  border: 4px inset;
  border-color: var(--yellow);
  background-color: var(--fg2);
}

.inputBox:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
  border-color: var(--orange);
  background-color: var(--fg3);
}

.inputSubmit {
  width: 50px;
  height: 55px;
  margin-left: 7px;
  padding: 0;
  font-family: "Fira Code", monospace;
  border-radius: 5px;
  border: 3px inset;
  border-color: var(--yellow-dim);
  background-color: var(--fg2);
}

.inputSubmit:active {
  border-color: var(--orange);
  background-color: var(--fg3);
}

@media (width <= 950px) {
  .inputBox {
    width: 355px;
  }
}

@media (width <= 500px) {
  .inputBox {
    height: 20px;
    width: 267px;
    font-size: 16px;
  }

  .inputSubmit {
    height: 45px;
    width: 40px;
    color: black;
    font-weight: 200;
    font-size: 12px;
  }
}

@media (width <= 400px) {
  .inputBox {
    height: 18px;
    width: 220px;
    font-size: 12px;
  }

  .inputSubmit {
    height: 40px;
    width: 40px;
    font-size: 12px;
  }
}
